/**********************
Base Container
***********************/
.main-page-container {
  // @include flexbox-display();
  min-height: 100vh;
  // @include flexbox-wrap(nowrap);
}
.carousel-inner {
  @include flexbox-display();
  height: 500px;
}

.carousel-item, .carousel-item img {
  height: 100%;
}

