/**********************
Base Container
***********************/
.main-page-container {
  min-height: 100vh;
  @include flexbox-display();
  flex-direction: column;
  @include flexbox-wrap(nowrap)
}

.main-page-container > main {
  flex: 3;
}

div.carousel-inner div {
  @include flexbox-display();
  align-items: center;
  justify-content: center;
}

.main-page-container > div {
  min-width: 100vw;
  flex: 1;
  //align-self: flex-center;
}

.main-page-container > div.container-fluid {
  @include flexbox-display();
  align-items: center;
  justify-content: center;
}
