div.wrapper-container.container-fluid {
  @include flexbox-display();
  @include flexbox-wrap(nowrap);
  margin-right: -1em !important;
  padding-bottom: 3em !important;
  flex-direction: column;
  height: 100%;
}

.no-product {
  height: 100vh !important;
}

.page-search-header {
  @include flexbox-display();
  // @include grow(1);
  margin-bottom: 3em;
  flex-direction: row;
  align-items: center;
  height: 40%;
}

.search-header-content {
  @include flexbox-display();
  border: 2px solid gray;
  width: 100%;
  height: 12em;
  align-items: center;
  justify-content: center;
  background: gray;
}

.search-header-content > div:first-child {
  align-self: center;
  @include grow(1);
  padding-left: 3em;
}

.sort-box-container {
  @include grow(1);
}

.controlls-bar {
  @include flexbox-display();
  font-size: 1.5em !important;
  flex-direction: row;
  @include grow(1);
  justify-content: space-evenly;
  .product-count {
    @include flexbox-display();
    align-items: center;
  }
  .instock {
    font-size: 2em;
    & > div.toggleSwitch {
      @include flexbox-display();
      padding-top: 0 !important;
      span.my-stock {
        padding-right: 1em !important;
      }
    }
  }
}

.contents {
  @include flexbox-display();
  // @include grow(3);
  height: auto;
}

.products-menu-container {
  @include flexbox-display();
  flex-direction: column;
  border: 2px solid gray;
  padding-top: 2em;
}

.sort-box-container {
  @include flexbox-display();
  flex-direction: row;
  @include grow(1);
}

.sort-box-container > label {
  flex-grow: 1;
  align-self: center;
  text-align: end;
  font-size: 1.5em;
  padding-right: 0.3em;
  width: 12em;
}

.dropdown-menu.show {
  left: -4.9em !important;
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #a9a9a9;
  width: 79% !important;
}

.input-group-btn div {
  width: 33.3%;
}

.inputbox-flat-design,
.sort-btn-group {
  border-radius: 0 !important;
  height: 3em;
  box-sizing: border-box;
}

.sort-btn-group {
  @include grow(10);
  // width: 0 !important;
}

.input-group-btn .btn {
  background: #665847;
  color: white;
  border-radius: 0;
}

main.product-list {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
}

.items-container {
  @include flexbox-display();
  @include flexbox-wrap(wrap);
  align-items: center;
  justify-content: start;
}

.product-page-items {
  @include flexbox-display();
  box-sizing: border-box;
  // height: 10rem;
  border: 2px solid gray;
  text-align: center;
  margin: 20px;
  align-items: center;
}

.dropdown-menu.dropdown-menu-right.show .dropdown-item:hover {
  color: $ceramic;
  background: $orange;
}

/* Card Images */
img.card-img-top {
  height: 15em;
  object-fit: scale-down;
}

.card.col-md-4.product-boxitem {
  margin: 1em !important;
  max-width: 24em !important;
}

.search-name {
  border: 1px solid $dark-orange;
  border-radius: 0.5em;
  padding: 0.4em;
  text-align: center;
  background: $dark-orange;
}


@include smart-phones-port-land {
  .no-product {
    height: 100vh !important;
  }

  div.wrapper-container.container-fluid {
    margin-right: 0 !important;
  }
  .page-search-header {
    @include flexbox-display();
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5em;
    margin-top: 5em;
  }

  .contents {
    @include flexbox-display();
    flex-direction: column;
  }

  main.product-list {
    padding-left: 0;
    padding-right: 0;
  }

  .controlls-bar {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .controlls-bar .product-count {
    font-size: 0.6em;
    margin-top: 1em;
  }

  .controlls-bar .instock > div.toggleSwitch {
    font-size: 0.6em;
  }

  .search-name {
    padding: 0.2em;
    margin-top: 1em;
  }

  .search-header-content {
    flex-direction: column;
    & > div:first-child {
      padding-left: 1em;
    }
  }

  .sort-box-container {
    margin-top: 3em;
    & > label {
      font-size: 1em;
      width: auto;
      margin-top: 2em;
    }
  }

  div.counter {
    top: 5.2em !important;
    left: 1em !important;
  }
}

@include ipads-port-land {
  
}
