div.wrapper-container.container-fluid {
  @include flexbox-display();
  @include flexbox-wrap(nowrap);
  margin-right: -1em !important;
  padding-bottom: 3em !important;
  flex-direction: column;
  height: 100%;
}

.page-search-header {
  @include flexbox-display();
  // @include grow(1);
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  height: 40%;
}

.search-header-content {
  @include flexbox-display();
  border: 2px solid gray;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search-header-content > div:first-child {
  align-self: center;
  @include grow(1);
  padding-left: 3em;
}

.sort-box-container {
  @include grow(3);
}

.sort-box-container > div.btn-group {
  height: 35px;
  box-sizing: border-box;
}


.contents {
  @include flexbox-display();
  // @include grow(3);
  height: auto;
}

.products-menu-container {
  @include flexbox-display();
  flex-direction: column;
  border: 2px solid gray;
}

.sort-box-container {
  @include flexbox-display();
  flex-direction: row;

}

.dropdown-menu.show {
  left: -5em !important;

}


main.product-list {
  padding-left: 3em;
  padding-right: 5em;
}

.items-container {
  @include flexbox-display();
  @include flexbox-wrap(wrap);
  align-items: center;
  justify-content: center;

}


.product-page-items {
  @include flexbox-display();
  box-sizing: border-box;
  height: 120px;
  border: 2px solid gray;
  text-align: center;
  margin: 20px;
  align-items: center;
}

.product-page-items > p {
  align-items: center;
  justify-content: center;
}



