main.shoppingcart-container {
  @include flexbox-display();
  // height: 100vh;
}

main.shoppingcart-info-container {
  @include flexbox-display();
  height: 100vh;
  justify-content: center;
  align-items: center;
  .infobox {
    @include flexbox-display();
    border: 2px solid black;
    height: 50vh;
    width: 50%;
    justify-content: center;
    justify-content: center;
    box-shadow: 2px 2px 25px 3px $orange;
    border-radius: 4px;
    align-items: center;
    background: $dark-gray;

    & > p {
      @include flexbox-display();
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      width: 100%;
      height: 30%;
      align-items: center;
      background: $ceramic;

      & > span {
        margin: 0 auto;
        font-size: 2em;
      }
    }
  }
}

.cart-items-list-container {
  @include flexbox-display();
  @include grow(1);
  width: 50%;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 3em;
  margin-right: 1em;
  overflow: auto;
  div div {
    @include flexbox-display();
    flex-direction: row;
    padding: 0.8em;
    margin-bottom: 1em;
  }

  & div:last-child() {
    align-self: flex-end;
  }
}

div.removeitem-btn-container {
  @include flexbox-display();
  justify-content: flex-end;
  padding-right: 0 !important;
  border: none !important;
}

.cart-items-list-inner-box {
  @include flexbox-display();
  flex-direction: column;
  div {
    border: 2px solid black;
  }
}

.payment-summary-container {
  @include flexbox-display();
  @include grow(1);
  flex-direction: column;
  width: 50%;
  margin-left: 1em;
  > div.details {
    @include flexbox-display();
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 4em;
  }
}

.cart-summary-breakdown-container {
  @include flexbox-display();
  flex-direction: row;
  padding: 2em 2em 6em 2em;
}

.cart-summary-details-container {
  @include flexbox-display();
  flex-direction: column;
  @include grow(1);
  padding-top: 0.5em;
  margin-left: 2em;
  div {
    text-align: center;
    padding: 0.2em;
    margin-bottom: 0.6em;
    border: 2px solid black;
    border: 2px solid black;
    display: inline-table;
  }
}

.cart-title-header {
  justify-content: center;
  display: flex;
  margin-bottom: 3em;
  padding-top: 1em;
  span {
    border: 2px solid black;
    padding: 0.5em;
  }
}

.cart-summary-values-container {
  @include flexbox-display();
  @include grow(2);
  flex-direction: column;
  padding-top: 0.5em;
  div {
    padding: 0.2em;
    border: 2px solid black;
    border: 2px solid black;
    margin-bottom: 0.6em;
  }
}

.checkout-btn-container {
  @include flexbox-display();
  justify-content: flex-end;
  padding-bottom: 3em;
}

.subtotal {
  @include flexbox-display();
  justify-content: flex-end;
  span {
    border: 2px solid black;
    padding: 0.3em;
    width: auto;
  }
}

.cart-items-list-inner-box {
  div {
    @include flexbox-display();
    flex-direction: row;
  }

  div span {
    @include grow(1);
  }

  div span:first-child() {
    @include grow(2);
  }
}

.submitBtn {
  @include flexbox-display();
  justify-content: space-between;
}

.shippingDetails {
  p {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
  }
}

form.submitForm {
    border-left: 1em solid gray;
    padding-left: 1em;
    border-right: 1em solid gray;
    padding-right: 1em;
}
