/**********************
Shop Page Design
***********************/
main#shop-container {
  @include flexbox-display();
  height: 100%;
  margin-top: -3.4em;

}

.shop-menu-container {
  @include flexbox-display();
  flex-direction: column;
}


main#shop-container > aside {
  border-right: 2px solid gray;
  // height: 100vh;
  padding-top: 70px;

}


main#shop-container > section {
  padding-top: 70px;
  height: 100%;
}

/* Prevent content from spilling over */
#shop-container:before,
#shop-container:after {
  display: table;
  content: "";
}

#shop-container:after {
  clear: both;
}

.subcategories-container {
  @include flexbox-display();
  @include flex-wrap(wrap);
  align-items: center;
  justify-content: center;

}

.subcategories-container .shop-page-subcategories {
  @include flexbox-display();
  @include flex-basis(27rem);

  box-sizing: border-box;
  height: 120px;
  border: 2px solid gray;
  text-align: center;
  margin: 20px;
  align-items: center;
}

.shop-page-subcategories > p {
  // vertical-align: middle;
  align-items: center;
  justify-content: center;

}

.shop-page-subcategories {
  @include flexbox-display();
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}


.link-in-div-fill {
  width: 100%;
  height: 100%;
  padding-top: 40%;

}


