<main ng-if="cartState" class="shoppingcart-container special-h1" data-ng-init="init()">
  <section class="cart-items-list-container">
    <div class="cart-items-list-inner-box" ng-repeat="item in addedItems" >
        <div>
          <span>Name: {{item.name}}</span>
          <span>Details: {{item.description}}</span>
          <span>Price: &#x20A6;{{item.price | number:2}}</span>
          <span>Qty: {{item.quantity}}</span>
          <span>Total: &#x20A6;{{item.quantity * item.price | number:2}}</span>
        </div>
        <div class="removeitem-btn-container">
          <a ng-click="removeCartItem(item)" class="btn btn-primary checkout">Remove Item</a>
        </div>

    </div>

    <div class="subtotal"><span>Subtotal &nbsp;&#x20A6;{{subtotal | number:2}}</span></div>
  </section>
  <section class="payment-summary-container">
    <div class="details">
      <div class="cart-title-header"><span>Cart Summary</span></div>
      <div class="cart-summary-breakdown-container">
        <div class="cart-summary-details-container">
            <div><span>Subtotal</span></div>
            <div><span>Shipping</span></div>
            <div><span>Tax</span></div>
            <div><span>Total</span></div>
        </div>
        <div class="cart-summary-values-container">
          <div><span>&#x20A6;{{subtotal | number:2}}</span></div>
          <div><span>&#x20A6;{{shipping | number:2}}</span></div>
          <div><span>&#x20A6;{{tax | number:2}}</span></div>
          <div><span>&#x20A6;{{subtotal + shipping + tax | number:2}}</span></div>
        </div>
      </div>
    </div>
    <div class="shippingDetails">
      <p>Enter Shipping Details</p>
      <form name="thisForm" novalidate class="submitForm">
        <div class="form-group row">
          <div class="col-md-3 col-form-label">
            <label for="name">Name</label>
          </div>
          <div class="col-md-5">
            <input type="text" name="name" id="name" placeholder="Name" ng-model="formValues.name" required>
            <span ng-show="thisForm.name.$touched && thisForm.name.$invalid">Oops! This field is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 col-form-label">
            <label for="address">Address</label>
          </div>
          <div class="col-md-5">
            <input type="text" name="address" id="address" placeholder="Address" ng-model="formValues.address" required>
            <span ng-show="thisForm.address.$touched && thisForm.address.$invalid">Oops! A valid address is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 col-form-label">
            <label for="city">City</label>
          </div>
          <div class="col-md-5">
            <input type="text" name="city" id="city" placeholder="City" ng-model="formValues.city" required>
            <span ng-show="thisForm.city.$touched && thisForm.city.$invalid">Oops! A valid city is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 col-form-label">
            <label for="phoneNumber">Phonenumber</label>
          </div>
          <div class="col-md-5">
            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" ng-model="formValues.phoneNumber" required>
            <span ng-show="thisForm.phoneNumber.$touched && thisForm.phoneNumber.$invalid">Oops! A valid phone number is required.</span>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 submitBtn">
                <input type="submit" value="Submit" ng-disabled='thisForm.$invalid' ng-click='submit(formValues)' class="btn btn-primary checkout" />
                <button ng-click="reset()" class="btn btn-default">Reset</button>
            </div>
        </div>
      </form>


    </div>
    <div class="checkout-btn-container">

        <a ng-href="#" class="btn btn-primary checkout">Checkout</a>


    </div>
  </section>

</main>
<main ng-if="!cartState" class="shoppingcart-info-container special-h1" data-ng-init="init()">
  <div class="infobox">
    <p>
      <span>
        {{cartIsEmptyText}}
      </span>
    </p>
  </div>
</main>

