
<div data-ng-init="init()">
  <main ng-repeat="d in productDetails" class="details-container">
    <section class="details-img-container">
      <img class=".img-fluid" src="{{d.imagelink}}" alt="image of {{d.name}}">
    </section>
    <section class="details-items-container">
      <div class="detail-boxes special-h1"><span>{{d.name}}</span></div>
      <div class="detail-boxes special-h1"><span>Product Ratings: {{d.rating}} <i class="fas fa-star"></i></span></div>
      <div class="detail-boxes special-h1"><span>Price &#x20A6;{{d.price}}</span></div>
      <div class="detail-boxes special-h1"><span id="description">{{d.description}}</span></div>
      <div class="js-spinner detail-boxes">
              <input type="number" ng-model="model.qty" value="1" step="1" max="100" min="1" data-stepper-debounce="400" class="js-stepper">
              <!-- <button type="button" spinner-button="up" title="add 1">+1</button>
              <button type="button" spinner-button="down" title="subtract 1">-1</button> -->
            </div>
      <div class="detail-boxes special-h1"><a href="#" ng-disabled="{{d.stock === '0'}}" ng-click="addItemToCartFromDetailsPage(d, model.qty)" class="btn btn-primary">Add to Cart</a></div>
    </section>
  </main>
</div>


