<div class="main-page-container">
  <main class="carousel-container">
    <div id="carouselControls" class="carousel slide" data-ride="carousel">
      <!-- indeciators -->
      <ul class="carousel-indicators">
        <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselControls" data-slide-to="1"></li>
        <li data-target="#carouselControls" data-slide-to="2"></li>
      </ul>

      <!-- Slide show -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/berry.jpg" alt="berries" width="100%" height="300" />
        </div>
        <div class="carousel-item">
          <img src="../images/lychee.jpg" alt="lychee vegetables" width="100%" height="300" />
        </div>
        <div class="carousel-item">
          <img src="../images/citrus.jpg" alt="citrus fruits" width="100%" height="300" />
        </div>
      </div>

      <!-- Left and Right controls -->
      <a class="carousel-control-prev" href="#carouselControls" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </main>

  <div class="container-fluid">
    <div>
      <a ng-href="/shopping_page">
        <input class="btn btn-info" type="button" value="Go Shopping" />
      </a>
    </div>
  </div>

</div>
