<div class="wrapper-container container-fluid" data-ng-init="init()">
  <section class="page-search-header row">
    <div class="search-header-content">
      <div>
        <p class="search-name special-h1">{{category}}</p>
      </div>
      <div class="sort-box-container">
        <!-- <div> -->
          <label special-h1>Sort By:
            <!-- <input class="inputbox-flat-design" type="text" name="sortBy"> -->
          </label>
        <!-- </div> -->
        <div class="input-group sort-btn-group">
          <input type="text" ng-model="dropdownChoiceIndex" class="form-control col-md-4 inputbox-flat-design text-capitalize">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a ng-repeat="f in sortFilterArray" ng-click="getDropdownIndex($index)" class="dropdown-item text-capitalize" href="#">{{f}}</a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="contents row">
    <aside class="col-md-2 products-menu-container menustyle-basic">
      <div class="shop-menu-child">
        <div class="shop-page-menu-container">
          <p class="menu-header-text">{{category}}</p>
          <div class="shop-page-subcategories-menu-container">
            <ul>
              <li ng-repeat="sub in singleCategory">
                <a href=#>{{sub.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <main class="product-list col-md-10">
      <div class="items-container flexbox-sm">
        <div ng-repeat="item in filteredItemsArrayList" class="card col-md-4 product-boxitem">
          <img class="card-img-top" src="{{item.imagelink}}" alt="image of {{item.name}}">
          <div class="card-body">
              <p class="special-h2">Name: {{item.name}}</p>
              <p>Price: &#x20A6;{{item.price}}</p>
              <a href="#" class="btn btn-primary">Add</a>
          </div>
        </div>
      </div>
    </main>
  </section>
</div>
