<div class="wrapper-container container-fluid" ng-class="{ 'no-product': noProduct(subcatArrayListItemsCount, subItemsCount) }" data-ng-init="init()">
  <section class="page-search-header row">
    <div class="search-header-content">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <p class="search-name special-h1">{{category}}</p>
      </div>
      <div class="sort-box-container col-md-4 col-sm-12 col-xs-12">
          <label special-h1>Sort By:
          </label>
        <div class="input-group sort-btn-group">
          <input type="text" ng-model="dropdownChoiceIndex" class="form-control inputbox-flat-design text-capitalize">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a ng-repeat="f in sortFilterArray" ng-click="getDropdownIndex($index)" ng-model="mfilter" ng-value="dropdownChoiceIndexValue" class="dropdown-item text-capitalize" href="#">{{f}}</a>

            </div>
          </div>
        </div>
      </div>
      <div class="controlls-bar col-md-4 col-sm-12 col-xs-12">
        <div class="product-count">
          <p>Showing <span ng-model="itCount">{{ countBoolean ? subcatArrayListItemsCount : subItemsCount }}</span> Out of {{subcatArrayListItems.length}}</p>
        </div>
        <div class="instock">
          <div class="toggleSwitch">
            <span class="my-stock">In Stock Only</span>
            <label class="switch">
              <input id="toggle" type="checkbox" ng-model="isChecked" ng-click="reduceProductCount()"/>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="contents row">
    <aside class="col-md-2 products-menu-container menustyle-basic">
      <div class="shop-menu-child">
        <div class="shop-page-menu-container">
          <p class="menu-header-text"><a ng-href="/product/{{category}}">{{category}}</a><i data-toggle="collapse" role="button"
            data-target="#submenu" aria-expanded="false" aria-controls="shopmenu" id="shopmenu" class="fas fa-caret-right"></i></p>
          <div  class="shop-page-subcategories-menu-container">
            <ul id="submenu" class="collapse">
              <li ng-repeat="sub in singleCategory">
                <a ng-href="/product/{{category}}/{{sub.name}}">{{sub.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <main class="product-list col-md-10 col-sm-12 col-xs-12">
      <div ng-if="!isChecked" class="items-container flexbox-sm col-md-12 col-sm-12 col-xs-12">
        <div ng-repeat="item in itemsArrayList | filter:subcategory | orderBy:dropdownChoiceIndexValue" class="card col-md-4 product-boxitem">
          <a ng-href="/details/{{item.name}}"><img class="card-img-top img-fluid myItems" src="{{item.imagelink}}" alt="image of {{item.name}}"></a>
          <div class="card-body">
              <p class="special-h2">Name:<a ng-href="/details/{{item.name}}"> {{item.name}}</a></p>
              <p>Price: &#x20A6;{{item.price}}</p>
              <a ng-href="#" ng-if="item.stock !== '0'" ng-click="addItemToCartFromProductspage(item)" class="btn btn-primary">Add</a>
              <a ng-href="#" ng-if="item.stock === '0'" placement="bottom" ngbTooltip="This item is not in stock!" class="btn btn-primary out-of-stock">Out of Stock</a>
            </div>
        </div>
      </div>
      <div ng-if="isChecked" class="items-container flexbox-sm col-md-12 col-sm-12 col-xs-12">
          <div ng-repeat="item in itemsArrayList | filter:subcategory | orderBy:dropdownChoiceIndexValue | filter : inStock" data-ng-if="filter = item.stock !== '0'" class="card col-md-4 product-boxitem">
          <a ng-href="/details/{{item.name}}"><img class="card-img-top img-fluid myItems" src="{{item.imagelink}}" alt="image of {{item.name}}"></a>
          <div class="card-body">
              <p class="special-h2">Name:<a ng-href="/details/{{item.name}}"> {{item.name}}</a></p>
              <p>Price: &#x20A6;{{item.price}}</p>
              <a ng-href="#" ng-model="myStock" ng-click="addItemToCartFromProductspage(item)" class="btn btn-primary">Add</a>
            </div>
        </div>
      </div>
    </main>
  </section>
</div>
