<!-- <p>This is the shopping page</p>
<div ng-if="!data">
  Loading results...
</div>
<p data-ng-init="init()">{{perishablesData}}</p>
<div ng-repeat=""></div>
<button type="button" class="btn btn-warning" ng-click="this.getCategories('Perishable')">Send us a Message</button>
 -->

 <main id="shop-container" class="container-fluid" data-ng-init="init()">
   <aside class="col-md-2">
    <p>Aside Menu</p>

   </aside>
   <section class="col-md-10">
      <p>Subcategories</p>
          <div class="subcategories-container flexbox-sm">
              <div class="shop-page-subcategories col-0-3">
                  Subcategories
                </div>
                <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
           </div>
           <div class="subcategories-container flexbox-sm">
              <div class="shop-page-subcategories col-0-3">
                  Subcategories
                </div>
                <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>

               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
           </div>
           <div class="subcategories-container flexbox-sm">
              <div class="shop-page-subcategories col-0-3">
                  Subcategories
                </div>
                <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>

               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
           </div>
           <div class="subcategories-container flexbox-sm">
              <div class="shop-page-subcategories col-0-3">
                  Subcategories
                </div>
                <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>

               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
               <div class="shop-page-subcategories col-0-3">
                 Subcategories
               </div>
           </div>
   </section>
 </main>
