 <main id="shop-container" class="container-fluid" data-ng-init="init()">
   <aside class="col-md-2 shop-menu-container">
    <!-- <p>Aside Menu</p> -->
    <!-- <button type="button" class="btn btn-dark" ng-click="getMe()">Click Me!</button> -->
    <!-- <p>{{$scope.allProductsData}}</p> -->
    <div ng-if="!allProductsData">
      Loading results...
    </div>
    <div class="shop-menu-child" ng-repeat="cat in allProductsData track by $index">
        <div class="shop-page-menu-container menustyle-basic">
            <p class="menu-header-text" ><a ng-href="/product/{{cat.category}}">{{cat.category}}</a><i data-toggle="collapse" role="button"
              data-target="#{{cat.category}}" aria-expanded="false" aria-controls="shopmenu" class="fas fa-caret-right"></i></p>
            <div class="shop-page-subcategories-menu-container">
              <ul id="{{cat.category}}" class="collapse shopme">
                <li ng-repeat="c in cat.subcategories track by $index"><a ng-href="/product/{{cat.category}}/{{c.name}}">{{c.name}}</a></li>
              </ul>
            </div>
        </div>
    </div>
   </aside>
   <section class="col-md-10 col-sm-6 col-xs-12 subcategories-item-box">
          <div class="subcategories-container flexbox-sm">
            <!-- <p>{{cat.category}}</p> -->
              <div ng-repeat="(key, value) in subcatArrayNameList" class="card shop-page-subcategories col-0-3 product-boxitem">
                    <a class="card-body link-in-div-fill" ng-href="/product/{{value}}/{{key}}"><span class="special-h2">{{key}}</span></a>
                </div>
           </div>
   </section>
 </main>
