 <main id="shop-container" class="container-fluid" data-ng-init="init()">
   <aside class="col-md-2 shop-menu-container">
    <p>Aside Menu</p>
    <button type="button" class="btn btn-dark" ng-click="goToCategoriesPage('Household and Beauty')">Click Me!</button>
    <!-- <p>{{$scope.allProductsData}}</p> -->
    <div ng-if="!perishablesData">
      Loading results...
    </div>
    <div class="shop-menu-child" ng-repeat="cat in allProductsData track by $index">
        <div class="shop-page-menu-container">
            {{cat.category}}
            <div class="shop-page-subcategories-menu-container">
              <ul>
                <li ng-repeat="c in cat.subcategories track by $index"><a href=#>{{c.name}}</a></li>
              </ul>
            </div>
        </div>
    </div>
   </aside>
   <section class="col-md-10 subcategories-item-box">
      <p>Subcategories</p>
          <div ng-repeat="cat in allProductsData" class="subcategories-container flexbox-sm">
            <!-- <p>{{cat.category}}</p> -->
              <div ng-repeat="c in cat.subcategories track by $index" class="shop-page-subcategories col-0-3">
                    <a class="link-in-div-fill" ng-href="/product/{{c.category}}">{{c.name}} {{cat.category}}</a>
                </div>
           </div>
   </section>
 </main>
