$green: #8DC63F !default;
$orange:  #FF9900 !default;
$brown: #665847 !default;
$dark-brown: #3D362D !default;
$ceramic:  #FEFFFD !default;
$cornflowerblue: #6495ed !default;
$dark-orange: #EE7600 !default;
$dark-gray:  #a9a9a9 !default;

$text-color: $dark-brown !default;
$link-color: $green !default;
