
$green: #8DC63F !default;
$orange:  #FF9900 !default;
$brown: #665847 !default;
$dark-brown: #3D362D !default;
$ceramic:  #FEFFFD !default;
$cornflowerblue: #6495ed !default;
$dark-orange: #EE7600 !default;
$dark-gray:  #a9a9a9 !default;

$rgbGray: rgb(169, 169, 169);
$alpha: .8;
$grayAlpha: rgba($rgbGray, $alpha);

$rgbOrange: rgb(255, 153, 0);
$oAlpha: .8;
$orangeAlpha: rgba($rgbOrange, $oAlpha);

$rgbDarkBrown: rgb(61, 54, 45);
$dbAlpha: .075;
$darkbrownAlpha: rgba($rgbDarkBrown, $dbAlpha);

$text-color: $dark-brown !default;
$link-color: $dark-gray !default;


