/***************************
Button Modules
***************************/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.btn-primary {
  background: $orangeAlpha;
  color: $rgbDarkBrown;
  border-color: $orange;
}
.btn-primary:hover {
  background: $rgbOrange;
  border-color: white;
  color: $ceramic;
  text-decoration: none;
}
.btn-nav {
  color: white;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: $dark-gray;
  border-color: $dark-gray;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: $brown !important;
  background-color: $orange !important;
  color: $ceramic !important;
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 .2rem $orangeAlpha !important;
  box-shadow: 0 0 0 .2rem $orangeAlpha !important;
}
