/***************************
Button Modules
***************************/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.btn-primary {
  background: $orangeAlpha;
  color: $rgbDarkBrown;
  border-color: $orange;
}
.btn-primary:hover {
  background: $rgbOrange;
  border-color: white;
  color: $ceramic;
  text-decoration: none;
}
.btn-nav {
  color: white;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
